@-webkit-keyframes loadingBars { 
	0% {
		padding: 0 0 0 0;
	}
	50% {
		padding: 7px 0;
	}
	100% {
		padding: 0 0 0 0;
	}
}

@keyframes loadingBars { 
	0% {
		padding: 0 0 0 0;
	}
	50% {
		padding: 7px 0;
	}
	100% {
		padding: 0 0 0 0;
	}
}

@-webkit-keyframes colorChangeIn {
	from {
		color: #F00;
	}
	to {
		color: #000;
	}
}

@keyframes colorChangeIn {
	from {
		color: #F00;
	}
	to {
		color: #000;
	}
}
@-webkit-keyframes colorChangeOut {
	from {
		color: #000;
	}
	to {
		color: #F00;
	}
}

@keyframes colorChangeOut {
	from {
		color: #000;
	}
	to {
		color: #F00;
	}
}

@-webkit-keyframes colorChangeInWhite {
	from {
		color: #F00;
	}
	to {
		color: #FFF;
	}
}

@keyframes colorChangeInWhite {
	from {
		color: #F00;
	}
	to {
		color: #FFF;
	}
}
@-webkit-keyframes colorChangeOutWhite {
	from {
		color: #FFF;
	}
	to {
		color: #F00;
	}
}

@keyframes colorChangeOutWhite {
	from {
		color: #FFF;
	}
	to {
		color: #F00;
	}
}

@-webkit-keyframes backgroundSwipeInLR {
	from {
		width: 0px;
		background: #DFEAFF;
	}
	to {
		width: 100%;
		background: #DFEAFF;
	}
}

@keyframes backgroundSwipeInLR {
	from {
		width: 0px;
		background: #DFEAFF;
	}
	to {
		width: 100%;
		background: #DFEAFF;
	}
}

@-webkit-keyframes backgroundSwipeOutLR {
	from {
		width: 100%;
		background: #DFEAFF;
	}
	to {
		width: 0px;
		background: #DFEAFF;
	}
}

@keyframes backgroundSwipeOutLR {
	from {
		width: 100%;
		background: #DFEAFF;
	}
	to {
		width: 0px;
		background: #DFEAFF;
	}
}

@-webkit-keyframes backgroundSwipeInTB {
	from {
		height: 0%;
		background: #DFEAFF;
	}
	to {
		height: 100%;
		background: #DFEAFF;
	}
}

@keyframes backgroundSwipeInTB {
	from {
		height: 0%;
		background: #DFEAFF;
	}
	to {
		height: 100%;
		background: #DFEAFF;
	}
}

@-webkit-keyframes backgroundSwipeOutTB {
	from {
		height: 100%;
		background: #DFEAFF;
	}
	to {
		height: 0%;
		background: #DFEAFF;
	}
}

@keyframes backgroundSwipeOutTB {
	from {
		height: 100%;
		background: #DFEAFF;
	}
	to {
		height: 0%;
		background: #DFEAFF;
	}
}