h1, h2 {
	font-weight: 900;
}

h3, h4, h5 {
	font-weight: 700;
}

p {
	font-weight: 400;
}

.font-900 {
	font-weight: 900;
}

.font-700 {
	font-weight: 700;
}

.font-400 {
	font-weight: 400;
}

.font-300 {
	font-weight: 300;
}

